.products__wrapper{
    padding: 20px;
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    .product__card{
        width: 280px;
        padding: 14px;
        border: 1px solid #ddd;
        img{
            width: 100%;
            height: 220px;
            object-fit: contain;
        }
    }
}
